#tablero {
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
}

body {
  background-color: #777799;
}

nav {
  background-color: #69D2E7;
}


.articles {
  background-color: lightgrey;  
  padding: 1em;
  border: 0.5em;
  border-style: solid;
  border-color: grey;
  border-radius: 0.2em;
  box-shadow: 0.5em 0.5em lightgrey;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  background-color: lightgrey;  
  padding: 1em;
  border: 0.5em;
  border-style: solid;
  border-color: grey;
  border-radius: 0.2em;
  box-shadow: 0.5em 0.5em lightgrey;  
  display: flex;
  align-items: center;
  justify-content: center;
}



.related {
    color: red;
    background-color: black;
    padding: 0.5 em;
    border-color: grey;
    border: 0.2em;
    border-style: solid;   
    font-family: fuenteDigital;
    font-size: 300%;
    text-align:center;
    border-radius: 0.2em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    width: 1.7em;
}

